@{
    String c = ViewContext.RouteData.Values["controller"].ToString();
    String a = ViewContext.RouteData.Values["action"].ToString();
}

<div id="sidebar">

    @if (c == "AboutUs")
    {
        <h3>關於中心</h3>
        <nav>
            <a href="~/AboutUs/index" class="@(ViewBag.subnav == "sn1-1" ? "current" : "")">中心簡介</a>
            <a href="~/AboutUs/p2" class="@(ViewBag.subnav == "sn1-2" ? "current" : "")">中心理念</a>
            <a href="~/AboutUs/p3" class="@(ViewBag.subnav == "sn1-3" ? "current" : "")">中心主任</a>
        </nav>

        <h3>關於聯盟</h3>
        <nav>
            <a href="~/AboutUs/tfta" class="@(ViewBag.subnav == "sn1-4" ? "current" : "")">聯盟簡介</a> @* (宗旨) *@
            <a href="~/AboutUs/tfta2" class="@(ViewBag.subnav == "sn1-5" ? "current" : "")">聯盟理念</a> @* (聯盟緣起) *@
            <a href="~/AboutUs/tfta3" class="@(ViewBag.subnav == "sn1-6" ? "current" : "")">聯盟成員</a> @* (核心成員) *@
            <a href="~/AboutUs/tfta4" class="@(ViewBag.subnav == "sn1-7" ? "current" : "")">廠商連結</a> @* (聯盟成員)不確定是否要 *@
        </nav>
    }

    @if (c == "Member")
    {
        <h3>中心成員</h3>
        <nav>
            <a href="~/Member/index" class="@(ViewBag.subnav == "sn2-1" ? "current" : "")">中心成員</a>
            <a href="~/Member/p2" class="@(ViewBag.subnav == "sn2-2" ? "current" : "")">博士生</a>
            <a href="~/Member/p3" class="@(ViewBag.subnav == "sn2-3" ? "current" : "")">碩士生</a>
        </nav>
    }

    @if (c == "News") {}
    @if (c == "Tech") {}
    @if (c == "Equip") {}
    @if (c == "ContactUs") {}
    @if (c == "Download") {}
    @if (c == "Albums") {}

    <a href="~/ContactUs" class="contact">聯絡我們</a>

    @* <h3 class="link">網網相連</h3>
    <ul class="link">
        <li>
            <a href="http://www.ncu.edu.tw/" target="new" title="中央大學">
                <img src="~/Content/images/link/ncu.jpg" alt="中央大學">
            </a>
        </li>
        <li>
            <a href="http://tftc.ncu.edu.tw/tfta/" target="new" title="薄膜技術聯盟">
                <img src="~/Content/images/link/tfta.jpg" alt="薄膜技術聯盟">
            </a>
        </li>
        <li>
            <a href="http://web1.most.gov.tw/mp.aspx" target="new" title="科技部">
                <img src="~/Content/images/link/most.jpg" alt="科技部">
            </a>
        </li>
        <li>
            <a href="http://www.pida.org.tw/" target="new" title="光電科技工業協進會">
                <img src="~/Content/images/link/pida.jpg" alt="光電科技工業協進會">
            </a>
        </li>
        <li>
            <a href="http://www.ncu.edu.tw/~tftc/oes/" target="new" title="中華民國光電學會">
                <img src="~/Content/images/link/tps.jpg" alt="中華民國光電學會">
            </a>
        </li>
    </ul> *@

</div><!-- sidebar //-->
