@model DotWeb.IndexPage

@using System.Globalization;
@using ProcCore.NetExtension;

@{
    ViewBag.Title = "首頁";
    Layout = "~/Views/Shared/Layout.cshtml";
    CultureInfo c = new CultureInfo("en-US");
}

@section JScript{
    <script type="text/javascript" src="~/Scripts/nivo-slider/jquery.nivo.slider.js"></script>
    <!--Banner換圖特效-->
    <script type="text/javascript">
        $(window).load(function () {
            $('#slider').nivoSlider();
        });
    </script>
}

<div class="news">
    <h3><span>最新消息</span></h3>
    <a class="more" href="~/News/list">More</a>
    <ul>
        <!--取標題前17個字，首頁取最新的5則消息-->
        @foreach (var md in Model.Messages)
        {
            <li>
                <em>
                    @md.set_date.ToString("MMM", c)
                    <span>@md.set_date.ToString("dd")</span>
                    @md.set_date.ToString("yyyy")
                </em>
                <span>
                    @md.title
                    <a class="btn" href="~/News/content/@md.id">Read More</a>
                </span>
            </li>
        }
    </ul>
</div>

<div class="about">
    <h3><span>關於薄膜技術</span></h3>
    <a class="more" href="~/AboutUs">More</a>
    <img src="~/Content/images/Index/pic1.jpg">
    <p>薄膜技術是一項能夠提升科技及產業價值的重要技術，所有先進國家皆因有了高級薄膜技術而大幅度增加產品價值，並衍生新科技強化他們的國力。當今台灣產業正值轉形期，薄膜技術的發展可帶領台灣科技產業邁入一個新的紀元。國立中央大學有鑒於此而在2004年2月，成立薄膜技術中心，希望藉由成立薄膜技術中心，以及交大、清大、陽明、中央四校的合作與學術資源的整合，有效且具體的利用薄膜技術，加速台灣高科技產業的發展並厚植國力。</p>
</div>

<div class="link">
    <h3><span>網網相連</span></h3>
    <ul>
        <li><a href="http://www.ncu.edu.tw/" target="new" title="中央大學">
                <img src="~/Content/images/link/ncu.jpg" alt="中央大學">
</a></li>
        <li><a href="http://tftc.ncu.edu.tw/tfta/" target="new" title="薄膜技術聯盟">
    <img src="~/Content/images/link/tfta.jpg" alt="薄膜技術聯盟">
</a></li>
        <li><a href="http://web1.most.gov.tw/mp.aspx" target="new" title="科技部">
    <img src="~/Content/images/link/most.jpg" alt="科技部">
</a></li>
        <li><a href="http://www.pida.org.tw/" target="new" title="光電科技工業協進會">
    <img src="~/Content/images/link/pida.jpg" alt="光電科技工業協進會">
</a></li>
        <li><a href="http://www.ncu.edu.tw/~tftc/oes/" target="new" title="中華民國光電學會">
                <img src="~/Content/images/link/tps.jpg" alt="中華民國光電學會">
</a></li>
    </ul>
</div>

<div class="album">
    <h3><span>活動剪影</span></h3>
    <a class="more" href="~/Albums/list">More</a>
    <!--取最新1本相簿列表圖&相簿標題-->

    @if (Model.Albums != null)
    {
        var ps = Html.ImagesAppendInfo("Sys_Active", "ActivePhoto", Model.Albums.id, "ListIcon", 334).FirstOrDefault();    
        <a href="~/Albums/content/@Model.Albums.id">
            <img src="@ps"></a>
        <em><a href="~/Albums/content/@Model.Albums.id">@Model.Albums.title</a></em>
    }

</div>
